<section id="about-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center">
                    <h1 class="big">About</h1>
                    <h2>About Me</h2>
                    <p>Get to know more about me and my background.</p>
                </div>
            </div>

            <div class="row d-flex about-info mb-5 justify-content-center">
                <!-- Name -->
                <div class="col-md-4 col-lg-3 d-flex">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fas fa-user"></span>
                        </div>
                        <h3>Name</h3>
                        <p>AIT MASKOUR Lahcen</p>
                    </div>
                </div>
                <!-- Date of Birth -->
                <div class="col-md-4 col-lg-3 d-flex">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fas fa-birthday-cake"></span>
                        </div>
                        <h3>Date of Birth</h3>
                        <p>February 02, 2003</p>
                    </div>
                </div>
                <!-- Address -->
                <div class="col-md-4 col-lg-3 d-flex">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fas fa-map-signs"></span>
                        </div>
                        <h3>Address</h3>
                        <p>Beni Mellal, MO</p>
                    </div>
                </div>
                <!-- Zip Code -->
                <div class="col-md-4 col-lg-3 d-flex">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fas fa-map-marker-alt"></span>
                        </div>
                        <h3>Zip Code</h3>
                        <p>23650</p>
                    </div>
                </div>
                <!-- Email -->
                <div class="col-md-4 col-lg-3 d-flex">
                    <a href="mailto:lahcen.maskour2003@gmail.com" class="box text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fas fa-paper-plane"></span>
                        </div>
                        <h3>Email</h3>
                        <p>lahcen.maskour2003gmail.com</p>
                    </a>
                </div>
                <!-- Phone -->
                <div class="col-md-4 col-lg-3 d-flex">
                    <a href="tel:+212654798379" class="box text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fas fa-phone"></span>
                        </div>
                        <h3>Phone</h3>
                        <p>+212654798379</p>
                    </a>
                </div>
            </div>

            <div class="counter-wrap">
                <p><a href="../../../assets/CV Lahcen Dev.pdf" class="btn btn-primary" download>Download CV</a></p>
            </div>
        </div>
    </section>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>