<section id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center">
                <h1 class="big big-2">Skills</h1>
                <h2 class="mb-4">My Skills</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>

        <!-- Languages -->
        <div class="skills-category">
            <h3>Languages</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fas fa-code"></i> Java</li>
                            <li><i class="fas fa-code"></i> C</li>
                            <li><i class="fas fa-code"></i> C++</li>
                            <li><i class="fab fa-html5"></i> HTML</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fab fa-css3-alt"></i> CSS</li>
                            <li><i class="fab fa-js-square"></i> JavaScript</li>
                            <li><i class="fab fa-js-square"></i> TypeScript</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Frameworks -->
        <div class="skills-category">
            <h3>Frameworks</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fab fa-angular"></i> Angular</li>
                            <li><i class="fab fa-bootstrap"></i> Bootstrap</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fas fa-leaf"></i> Tailwind CSS</li>
                            <li><i class="fab fa-java"></i> MySQL, SQL</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Development Backend -->
        <div class="skills-category">
            <h3>Development Backend</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fab fa-java"></i> Java EE</li>
                            <li><i class="fas fa-server"></i> API REST</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Development Frontend -->
        <div class="skills-category">
            <h3>Development Frontend</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fab fa-angular"></i> Angular</li>
                            <li><i class="fas fa-paint-brush"></i> Material UI</li>
                            <li><i class="fas fa-paint-brush"></i> Gestion des formulaires réactifs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tools -->
        <div class="skills-category">
            <h3>Tools</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fab fa-git-alt"></i> Git</li>
                            <li><i class="fab fa-github"></i> GitHub</li>
                            <li><i class="fas fa-terminal"></i> Maven</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Methodologies -->
        <div class="skills-category">
            <h3>Methodologies</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fas fa-users"></i> Agile/Scrum</li>
                            <li><i class="fas fa-tasks"></i> Gestion de projet</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Soft Skills -->
        <div class="skills-category">
            <h3>Soft Skills</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fas fa-comments"></i> Communication</li>
                            <li><i class="fas fa-user-check"></i> Adaptabilité</li>
                            <li><i class="fas fa-lightbulb"></i> Résolution de problèmes</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills-card">
                        <ul>
                            <li><i class="fas fa-clock"></i> Gestion du temps</li>
                            <li><i class="fas fa-users-cog"></i> Travail en équipe</li>
                            <li><i class="fas fa-rocket"></i> Méthodologie agile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

     
    </div>
</section>